*.o
*.oa
kernel/myos.bin
kernel/myos.bin.sym
userspace/init
userspace/init.sym
disk.img
compile_commands.json
.cache/
toolchain/build/*
toolchain/binutils-*
toolchain/gcc-*
toolchain/mpc-*
toolchain/gmp-*
toolchain/mpfr-*
toolchain/nasm-*
toolchain/.*
toolchain/*.tar.*